<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Online Result System 3</display-name>

	<!--Common Module -->
	<servlet>
		<servlet-name>WelcomeCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.WelcomeCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeCtl</servlet-name>
		<url-pattern>/WelcomeCtl</url-pattern>
	</servlet-mapping>

	<!--User Module -->
	<servlet>
		<servlet-name>UserCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.UserCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCtl</servlet-name>
		<url-pattern>/ctl/UserCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserListCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.UserListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListCtl</servlet-name>
		<url-pattern>/ctl/UserListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.UserRegistrationCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<url-pattern>/UserRegistrationCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyProfileCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.MyProfileCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyProfileCtl</servlet-name>
		<url-pattern>/ctl/MyProfileCtl</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>LoginCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.LoginCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCtl</servlet-name>
		<url-pattern>/LoginCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.ChangePasswordCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<url-pattern>/ChangePasswordCtl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.ForgetPasswordCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<url-pattern>/ForgetPasswordCtl</url-pattern>
	</servlet-mapping>

	<!--Role Module -->
	<servlet>
		<servlet-name>RoleCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.RoleCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleCtl</servlet-name>
		<url-pattern>/ctl/RoleCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleListCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.RoleListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleListCtl</servlet-name>
		<url-pattern>/ctl/RoleListCtl</url-pattern>
	</servlet-mapping>

    <!--Notice Module  -->
    
	<servlet>
		<servlet-name>NoticeCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.NoticeCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeCtl</servlet-name>
		<url-pattern>/ctl/NoticeCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NoticeListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.NoticeListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeListCtl</servlet-name>
		<url-pattern>/ctl/NoticeListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EResourceCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.EResourceCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EResourceCtl</servlet-name>
		<url-pattern>/ctl/EResourceCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EResourceListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.EResourceListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EResourceListCtl</servlet-name>
		<url-pattern>/ctl/EResourceListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.CommentCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentCtl</servlet-name>
		<url-pattern>/ctl/CommentCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.CommentListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentListCtl</servlet-name>
		<url-pattern>/ctl/CommentListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttendenceCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.AttendenceCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendenceCtl</servlet-name>
		<url-pattern>/ctl/AttendenceCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttendenceListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.AttendenceListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendenceListCtl</servlet-name>
		<url-pattern>/ctl/AttendenceListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAttendenceCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.GetAttendenceCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAttendenceCtl</servlet-name>
		<url-pattern>/ctl/GetAttendenceCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EResourceLinkCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.EResourceLinkCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EResourceLinkCtl</servlet-name>
		<url-pattern>/ctl/EResourceLinkCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TimeTableCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.TimeTableCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeTableCtl</servlet-name>
		<url-pattern>/ctl/TimeTableCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TimeTableListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.TimeTableListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeTableListCtl</servlet-name>
		<url-pattern>/ctl/TimeTableListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.DownloadCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadCtl</servlet-name>
		<url-pattern>/ctl/DownloadCtl</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>FrontCtl</filter-name>
		<filter-class>in.co.sunrays.ocha.controller.FrontController</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FrontCtl</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>StudentCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.StudentCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentCtl</servlet-name>
		<url-pattern>/ctl/StudentCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.StudentListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentListCtl</servlet-name>
		<url-pattern>/ctl/StudentListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollegeCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.CollegeCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollegeCtl</servlet-name>
		<url-pattern>/ctl/CollegeCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollegeListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.CollegeListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollegeListCtl</servlet-name>
		<url-pattern>/ctl/CollegeListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StaffCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.StaffCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffCtl</servlet-name>
		<url-pattern>/ctl/StaffCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StaffListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.StaffListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffListCtl</servlet-name>
		<url-pattern>/ctl/StaffListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DepartementCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.DepartementCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartementCtl</servlet-name>
		<url-pattern>/ctl/DepartementCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DepartementListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.DepartementListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartementListCtl</servlet-name>
		<url-pattern>/ctl/DepartementListCtl</url-pattern>
	</servlet-mapping>

	<!-- Generic Error Handler Controller -->
	<servlet>
		<servlet-name>ErrorCtl</servlet-name>
		<servlet-class>in.co.sunrays.common.controller.ErrorCtl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ErrorCtl</servlet-name>
		<url-pattern>/ErrorCtl</url-pattern>
	</servlet-mapping>

	<!--forward to error page if incorrect URI is given -->
	<error-page>
		<error-code>404</error-code>
		<location>/common/Error404.jsp</location>
	</error-page>

	<filter>
		<filter-name>MainCtl</filter-name>
		<filter-class>in.co.sunrays.ocha.controller.FrontController</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>MainCtl</filter-name>
		<url-pattern>/ctl/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>LoginCtl</welcome-file>
	</welcome-file-list>

</web-app>