H1 {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 28px;
	font-weight: 600;
	line-height: 32px;
	word-spacing: 0px;
	background: 0% 0%;
	display: block;
	color: #333333;
}

H2 {
	font-size: 20px;
	font-weight: 600;
}

body {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 14px;
	color: #555555;
}

.error-header {
	color: red;
	font-size: 16px;
}

.error {
	color: red;
	font-size: 14px;
}

.success-header {
	color: green;
	font-size: 16px;
}

.success {
	color: green;
	font-size: 146px;
}